/* =========================
   GRID
========================= */

.patients-grid{
    display: grid;
    
    /* 3 columnas */
    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

    max-width: 1200px;
    margin: 50px auto 0;
}

.patient-card:nth-child(5){
    grid-column: 2 / 4;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px){

    .patients-grid{
        grid-template-columns: 1fr;
    }

    /* RESETEAR POSICIONES */
    .patient-card:nth-child(4),
    .patient-card:nth-child(5){
        grid-column: auto;
    }

}

/* =========================
   TARJETAS
========================= */

.patient-card{
    width: 100%;
}

.patient-item{
    width: 100%;
    min-height: 180px;

    border: none;
    cursor: pointer;

    background: #fff;

    padding: 30px;
    border-radius: 25px;

    box-shadow: 0 10px 30px rgba(0,0,0,.08);

    transition: .3s;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patient-item:hover{
    transform: translateY(-5px);
}

.patient-item i{
    font-size: 42px;
    color: #27bc3e;
    margin-bottom: 20px;
}

.patient-item p{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

/* =========================
   CONTENIDO
========================= */

.patient-content{
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.patient-card.active .patient-content{
    max-height: 800px;
    margin-top: 15px;
}

/* =========================
   INFO BOX
========================= */

.info-box{
    background: #fff;
    padding: 22px;
    border-radius: 18px;
    margin-bottom: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,.06);
}

.info-box h3{
    color: #27bc3e;
    margin-bottom: 10px;
}

.info-box p{
    color: #666;
    line-height: 1.7;
}